<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="story-container">
        <div class="story-title">
          <strong>Story: </strong>{{storyTitle}}
          <i *ngIf="showStory" class="fa fa-eye-slash pull-right" (click)="toggleStoryVisiblity()" title="Hide Tasks"></i>
          <i *ngIf="!showStory" class="fa fa-eye pull-right" (click)="toggleStoryVisiblity()" title="Show Tasks"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row" [ngbCollapse]="!showStory">
    <div class="col-md-4 eq-height">
      <div class="drag-container" [class.dragged]="todo.dragged">
        <hr class="seperator" />
        <div class="section-heading text-center">{{todo.title}}</div>
        <div cdkDropList id="todo" #todoList="cdkDropList" [cdkDropListData]="todo.tasks"
          [cdkDropListConnectedTo]="[progressList, doneList]" class="item-list"
          (cdkDropListDropped)="drop($event)" (cdkDropListEntered)="dropListEntered($event)"
          (cdkDropListExited)="dropListExited($event)">
          <div class="item-box" *ngFor="let item of todo.tasks" cdkDrag>
            <strong>{{item.title}}</strong>
            <p>{{item.description}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 eq-height">
      <div class="drag-container" [class.dragged]="progress.dragged">
        <hr class="seperator" />
        <div class="section-heading text-center">{{progress.title}}</div>
        <div cdkDropList id="progress" #progressList="cdkDropList" [cdkDropListData]="progress.tasks"
          [cdkDropListConnectedTo]="[todoList, doneList]" class="item-list"
          (cdkDropListDropped)="drop($event)" (cdkDropListEntered)="dropListEntered($event)"
          (cdkDropListExited)="dropListExited($event)">
          <div class="item-box" *ngFor="let item of progress.tasks" cdkDrag>
            <strong>{{item.title}}</strong>
            <p>{{item.description}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 eq-height">
      <div class="drag-container" [class.dragged]="done.dragged">
        <hr class="seperator" />
        <div class="section-heading text-center">{{done.title}}</div>
        <div cdkDropList id="done" #doneList="cdkDropList" [cdkDropListData]="done.tasks"
          [cdkDropListConnectedTo]="[todoList, progressList]" class="item-list"
          (cdkDropListDropped)="drop($event)" (cdkDropListEntered)="dropListEntered($event)"
          (cdkDropListExited)="dropListExited($event)">
          <div class="item-box" *ngFor="let item of done.tasks" cdkDrag>
            <strong>{{item.title}}</strong>
            <p>{{item.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>